div.table {
	border: 5px solid #fff;
	border-radius: 10px;
	margin-bottom: 15px;

	table {
		width: 100%;
		border-radius: 10px;
		border: 5px solid #fff;
		border-collapse: collapse;
		overflow: hidden;

		tr {
			border: 3px solid white;
			height: 50px;
			color: red;
		}

		td {
			border: 3px solid white;
		}

		th {
			border: 3px solid white;
		}

		tr:last-child td:first-child {
			border-bottom-left-radius: 10px;
		}

		tr:last-child td:last-child {
			border-bottom-right-radius: 10px;
		}
	}
}
