.schedule.table {
    width: auto;
    max-width: 100%;
    margin: auto;
    color:  rgb(199, 194, 187);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}