@import "~bootstrap/dist/css/bootstrap.min.css";

@import "./utils/text.scss";

#root {
	height: 100vh;
	width: 100%;
	overflow: scroll;
}

body {
	position: relative;
	background-color: #202225;
	overflow-y: hidden;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	user-select: none;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
input,
button,
textarea,
:focus {
	outline: none;
}

::-webkit-scrollbar {
	display: none;
}

a:not([draggable="true"]),
img:not([draggable="true"]) {
	-webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
	-webkit-user-drag: auto;
}
